@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  --bg-primary-1: rgb(4, 0, 87);
  --bg-primary-2: rgb(36, 32, 105);
  --text-primary-1: rgb(220, 220, 220);
  --text-primary-2: rgb(160, 160, 160);
  --text-secondary: rgb(70, 70, 70);
  --accent: rgb(206, 69, 0);

  &::selection {
    background: var(--accent);
    color: var(--text-primary-1);
  }
}

body {
  background: linear-gradient(#4c4cf9, #9198e5);
  height: 100vh;
  display: flex;
  justify-content: center;
}

main {
  background-color: var(--bg-primary-2);
  color: var(--text-primary-1);
  width: 800px;
}

.search {
  background-color: var(--bg-primary-1);
  padding: 2rem 1rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 5px 5px -3px #000000;

  label {
    font-size: 2rem;
    text-align: center;
  }

  div {
    margin-top: 2rem;
    width: 70%;
    position: relative;
    display: flex;
    align-items: center;

    input {
      width: 100%;
      font-size: 3rem;
      border: 0;
      border-radius: 8px;
      padding: 1rem;
      padding-right: 5.5rem;
      background-color: var(--text-primary-1);
      color: var(--text-secondary);

      &:focus {
        outline: 0;
      }
    }

    button {
      border: 0;
      border-radius: 50%;
      height: 4rem;
      width: 4rem;
      background-color: var(--bg-primary-1);
      position: absolute;
      right: 10px;
      cursor: pointer;

      &:active {
        transform: translateY(1px);
      }

      span {
        filter: grayscale(1);
        font-size: 2rem;
      }
    }

    p {
      height: 0;
      position: absolute;
      bottom: 0;
      right: 0;
      color: rgb(255, 0, 0);
    }
  }
}

.results {
  padding: 2rem;

  h2 {
    font-size: 2rem;
    text-align: center;

    .name {
      color: var(--accent);
    }
  }

  .current {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;

    .current-left {
      display: flex;
      align-items: center;
      gap: 0.3rem;

      img {
        width: 100px;
      }

      .temperature {
        font-size: 3rem;
      }

      .units-toggle {
        display: flex;

        button {
          background: 0;
          border: 0;
          font-size: 1rem;
          position: relative;
          bottom: 0.75rem;
          padding: 0 0.25rem;
          color: var(--text-primary-1);
          display: block;
          cursor: pointer;

          &:disabled {
            color: var(--text-primary-2);
            cursor: initial;
          }

          &.fahrenheit {
            border-right: 1px solid grey;
          }
        }
      }
    }

    .current-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: right;
      font-size: 1.2rem;
    }
  }

  .forecast {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    .forecast-day {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      padding: 1rem;
      background-color: rgba(200, 200, 200, 0.1);
      border-radius: 8px;

      .forecast-day-label {
        font-size: 2rem;
      }

      img {
        width: 100px;
      }

      div {
        display: flex;
        gap: 2rem;
        font-size: 2rem;

        .forecast-high {
          color: var(--accent);
        }

        .forecast-low {
          color: rgb(81, 179, 217);
        }
      }
    }
  }
}
